*{
    margin: 0;
    padding: 0;
}
body{
    background-color: brown;
}
.hi{
    text-align: right;
    
    
    
}
.hi button{
    width: 100px;
    height: 45px;
    padding: 3px;
    background-color: white;
    border: 2px solid blue;
    border-radius: 10px;
}
a{
    text-decoration: none;
    color: black;
}
.kpal{
    background-color: aqua;
    height: 9rem;
    text-align: left;
    margin-top: 9.7rem;

}
.kpal img{
    margin-top: -4rem;
    margin-left: -20px;
    margin-right: -100px;
    
   
    animation-delay: 0.5s;
    animation-duration: 15s;
    animation-name: kpalaud;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes kpalaud{
0%{
    
}

100%{
    margin-left: +73rem;
}
}




@media (max-width:800px){
    .hi{
        text-align: left;
        margin-top: 8.8rem;
        margin-left: 2rem;
    }

    
}

    .kpal img{
    margin-top: -4rem;
    margin-left: -20px;
    margin-right: -100px;
    
   
    animation-delay: 0.5s;
    animation-duration: 15s;
    animation-name: kpalaud;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    }
    @keyframes kpalaud{
        0%{
            
        }

        100%{
            margin-left: +24rem;
        }
    }


}